input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
#arq {
  background-color: #0971b2;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}