body {
    font-family: "Open Sans";
    color: gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    word-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
#map {
    height: 400px;
}
p {
    margin-bottom: 26px;
}
a {
    color: #0971b2;
    text-decoration: none!important;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
a:hover {
    color: #0971b2;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
    color: #0971b2;
    letter-spacing: 1px;
    font-weight: 400;
}
.form-control {
    border-radius: 2px!important;
    padding: 15px 20px!important;
    height: auto;
    border-color: #e5e5e5!important;
    box-shadow: none!important;
}
.form-control:focus {
    border-color: #0971b2!important;
}
.mb250 {
    margin-bottom: 250px!important;
}
.mb245 {
    margin-bottom: 245px!important;
}
.mb240 {
    margin-bottom: 240px!important;
}
.mb235 {
    margin-bottom: 235px!important;
}
.mb230 {
    margin-bottom: 230px!important;
}
.mb225 {
    margin-bottom: 225px!important;
}
.mb220 {
    margin-bottom: 220px!important;
}
.mb215 {
    margin-bottom: 215px!important;
}
.mb210 {
    margin-bottom: 210px!important;
}
.mb205 {
    margin-bottom: 205px!important;
}
.mb200 {
    margin-bottom: 200px!important;
}
.mb195 {
    margin-bottom: 195px!important;
}
.mb190 {
    margin-bottom: 190px!important;
}
.mb185 {
    margin-bottom: 185px!important;
}
.mb180 {
    margin-bottom: 180px!important;
}
.mb175 {
    margin-bottom: 175px!important;
}
.mb170 {
    margin-bottom: 170px!important;
}
.mb165 {
    margin-bottom: 165px!important;
}
.mb160 {
    margin-bottom: 160px!important;
}
.mb155 {
    margin-bottom: 155px!important;
}
.mb150 {
    margin-bottom: 150px!important;
}
.mb145 {
    margin-bottom: 145px!important;
}
.mb140 {
    margin-bottom: 140px!important;
}
.mb135 {
    margin-bottom: 135px!important;
}
.mb130 {
    margin-bottom: 130px!important;
}
.mb125 {
    margin-bottom: 125px!important;
}
.mb120 {
    margin-bottom: 120px!important;
}
.mb115 {
    margin-bottom: 115px!important;
}
.mb110 {
    margin-bottom: 110px!important;
}
.mb105 {
    margin-bottom: 105px!important;
}
.mb100 {
    margin-bottom: 100px!important;
}
.mb95 {
    margin-bottom: 95px!important;
}
.mb90 {
    margin-bottom: 90px!important;
}
.mb85 {
    margin-bottom: 85px!important;
}
.mb80 {
    margin-bottom: 80px!important;
}
.mb75 {
    margin-bottom: 75px!important;
}
.mb70 {
    margin-bottom: 70px!important;
}
.mb65 {
    margin-bottom: 65px!important;
}
.mb60 {
    margin-bottom: 60px!important;
}
.mb55 {
    margin-bottom: 55px!important;
}
.mb50 {
    margin-bottom: 50px!important;
}
.mb45 {
    margin-bottom: 45px!important;
}
.mb40 {
    margin-bottom: 40px!important;
}
.mb35 {
    margin-bottom: 35px!important;
}
.mb30 {
    margin-bottom: 30px!important;
}
.mb25 {
    margin-bottom: 25px!important;
}
.mb20 {
    margin-bottom: 20px!important;
}
.mb15 {
    margin-bottom: 15px!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
.mb5 {
    margin-bottom: 5px!important;
}
.no-padding {
    padding: 0!important;
}
.float-nan {
    float: none;
}
.img-responsive {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.btn {
    font-family: "Oswald";
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 8px 30px;
    margin-bottom: 5px;
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.btn.btn-lg {
    padding: 10px 35px;
    letter-spacing: 2px;
    font-size: 21px;
}
.btn.btn-sm {
    padding: 7px 20px;
    font-size: 14px;
}
.btn.btn-xs {
    padding: 5px 15px;
    font-size: 12px;
}
.btn-default {
    color: #676767;
    border-color: #0971b2;
}
.btn-default:hover {
    color: #fff;
    background-color: #0971b2;
    border-color: #0971b2;
}
.btn-default-o {
    color: #f2f2f2;
    border-color: #f2f2f2;
    background-color: transparent;
}
.btn-default-o:hover {
    color: #0971b2;
    background-color: #fff;
    border-color: #fff;
}
.btn-main-o {
    color: #0971b2;
    border-color: #0971b2;
    background-color: transparent;
}
.btn-main-o:hover {
    color: #fff;
    background-color: #0971b2;
    border-color: #0971b2;
}
.btn-dark-o {
    color: #0971b2;
    border-color: #0971b2;
    background-color: transparent;
}
.btn-dark-o:hover {
    color: #fff;
    background-color: #0971b2;
    border-color: #0971b2;
}
.btn-dark {
    color: #fff;
    background-color: #0971b2;
    border-color: #0971b2;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.btn-main {
    color: #fff;
    background-color: #0971b2;
    border-color: #0971b2;
}
.btn-main:hover, .btn-main:focus, .btn-main:active {
    background-color: #0971b2;
    border-color: #0971b2;
    color: #fff;
}
.btn-link {
    font-weight: 400;
    color: #0971b2;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
    color: #4c4c4c;
    text-decoration: none;
}
.section-title1 {
    margin-bottom: 70px;
}
.section-title1 h3 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    clear: both;
    position: relative;
    padding: 0 10px;
}
.section-title1 p {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #000000;
    font-size: 38px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-title1.st-center {
    text-align: center;
}
.section-title1.st-center:before {
    margin: auto;
}
.section-title1:before {
    content: "";
    display: block;
    width: 150px;
    height: 128px;
    background-image: url(../imagem/logo_quemsomos.png);
    background-repeat: no-repeat;
}
.section-title2 {
    margin-bottom: 70px;
}
.section-title2 h3 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    clear: both;
    position: relative;
    padding: 0 10px;
}
.section-title2 p {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #000000;
    font-size: 38px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-title2.st-center {
    text-align: center;
}
.section-title2.st-center:before {
    margin: auto;
}
.section-title2:before {
    content: "";
    display: block;
    width: 150px;
    height: 128px;
    background-image: url(../imagem/logo_instalacao.png);
    background-repeat: no-repeat;
}
.section-title4 {
    margin-bottom: 70px;
}
.section-title4 h3 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    clear: both;
    position: relative;
    padding: 0 10px;
}
.section-title4 p {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #000000;
    font-size: 38px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-title4.st-center {
    text-align: center;
}
.section-title4.st-center:before {
    margin: auto;
}
.section-title4:before {
    content: "";
    display: block;
    width: 150px;
    height: 128px;
    background-image: url(../imagem/logo_loja.png);
    background-repeat: no-repeat;
}
.section-title5 {
    margin-bottom: 70px;
}
.section-title5 h3 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    clear: both;
    position: relative;
    padding: 0 10px;
}
.section-title5 p {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #000000;
    font-size: 38px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-title5.st-center {
    text-align: center;
}
.section-title5.st-center:before {
    margin: auto;
}
.section-title5:before {
    content: "";
    display: block;
    width: 150px;
    height: 128px;
    background-image: url(../imagem/logo_marca.png);
    background-repeat: no-repeat;
}

.section-title6 {
    margin-bottom: 70px;
}
.section-title6 h3 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    clear: both;
    position: relative;
    padding: 0 10px;
}
.section-title6 p {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #000000;
    font-size: 38px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-title6.st-center {
    text-align: center;
}
.section-title6.st-center:before {
    margin: auto;
}
.section-title6:before {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    background-image: url(../imagem/logo_contato.png);
    background-repeat: no-repeat;
}
.home {
    background-image: url(../imagem/background_home.png);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    padding: 100px 0;
    position: relative;
    opacity: .9;
 }
.home .st-brand {
    text-align: center;
    margin-bottom: 80px;
}
.home .st-home-unit {
    position: relative;
}
.home .hero-txt {
    color: #fff;
    text-align: center;
}
.home .hero-txt .hero-title {
    font-family: "Oswald";
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 85px;
    font-weight: 400;
    letter-spacing: 8px;
    word-spacing: 4px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 20px 10px;
}
.home .hero-txt .hero-work {
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.home .hero-txt .hero-work:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    margin: 20px auto 0;
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, .3);
}
.home .hero-txt a.btn {
    text-transform: uppercase;
}
.home .hero-txt a.btn.left-btn {
    margin-right: 20px!important;
}
.home .hero-txt .hero-sub-title {
    font-family: "Oswald";
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 50px;
}
.home .hero-txt .hero-img {
    margin-top: 10px;
}
.st-highlight {
    color: #0971b2;
}
.navbar-default {
    border-width: 0;
    margin-bottom: 0!important;
    height: 10px;
    -webkit-transition: background-color 0.9s, height 0.9s;
    transition: background-color 0.9s, height 0.9s;
    background-color: rgba(0,0,0,0.2);
}
.st-navbar-mini .navbar-default {
    background-color: #0971b2;
    height: 5px;
    opacity: 1;
}
.st-navbar-mini .navbar-default .navbar-brand {
    padding: 5px 1px;
}
.st-navbar-mini .navbar-default .navbar-brand img {
    height: 40px;
}
.st-navbar-mini .navbar-default .navbar-nav>li.active>a, .st-navbar-mini .navbar-default .navbar-nav>li.active a:hover, .st-navbar-mini .navbar-default .navbar-nav>li.active a:focus, .st-navbar-mini .navbar-default .navbar-nav>li.active a:active {
    background-color: rgba(255,255,255,0.9);
}
.navbar-brand {
    height: auto;
    padding: 2px 13px;
    -webkit-transition: padding 0.2s;
    transition: padding 0.3s;
}
.navbar-brand img {
    height: 38px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    z-index: 2;
}
.navbar-nav>li>a {
    font-family: "Oswald";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
    transition: color 0.3s, background-color 0.3s, padding 0.3s;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li>a:active {
    color: #000;
    outline-width: 0;
}
.navbar-nav>li.active>a, .navbar-nav>li.active a:hover, .navbar-nav>li.active a:focus, .navbar-nav>li.active a:active {
    color: #0C9AF2;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active a:hover, .navbar-default .navbar-nav>li.active a:focus, .navbar-default .navbar-nav>li.active a:active {
    color: #0C9AF2;
    background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #0C9AF2;
}
.call-2-acction {
    padding: 100px 0;
    background-image: url(../imagem/background_trabalhe.jpg);
    background-attachment: fixed;
    background-color: #cccccc;
}
.c2a {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff!important;
}
.c2a h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.c2a h2:after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background-color: #0971b2;
    margin: 15px auto 20px;
}
.c2a p {
    margin-bottom: 40px;
}
.portfolio {
    padding: 10px 0 0;
}
.filter {
    text-align: center;
}
.filter .btn {
    font-weight: 400;
}
.filter input[type="radio"] {
    display: none;
}
.grid {
    width: 100%;
    padding: 0;
}
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    text-align: center;
    cursor: pointer;
    width: 33.33333333%;
    box-sizing: border-box;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(.645, .045, .355, 1);
    transition: opacity 0.3s, transform 0.3s cubic-bezier(.645, .045, .355, 1);
}
.grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption>a {
    z-index: 1000;
    position: absolute;
    right: 50%;
    bottom: 50px;
    margin-right: -67px;
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
    transition: transform 0.35s, opacity 0.35s;
}
.grid figure h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
    top: 30px;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
    transition: transform 0.35s, opacity 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.grid figure h2::after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    height: 1px;
    background: #0971b2;
    content: '';
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.grid figure h2 span {
    font-weight: 800;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    margin: 0;
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
    top: 100px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.grid figure:hover h2 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.grid figure:hover h2::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.grid figure:hover img {
    opacity: .3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.grid figure:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.grid figure:hover figcaption>a {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    a.social:hover {
        padding: 8px 20px 8px 65px;
    }
}.contact {
    padding: 120px 0;
}
.contact form input, .contact form textarea {
    margin-bottom: 30px;
}
input[type="text"].formFieldError, input[type="email"].formFieldError, textarea.formFieldError {
    border-color: #e34444!important;
}
footer.site-footer {
    background-color: #fcfcfc;
    padding: 10px 0;
    color: #9f9f9f;
    font-size: 13px;
    text-align: center;
}
footer.site-footer a {
    color: gray;
}
footer.site-footer a:hover {
    color: #0971b2;
}
@media (max-width:480px) {
    #sept-main-nav {
        background: #0971b2;
    }
    #lg {
        content: url(../imagem/logo_menu.png);
    }
}@media (min-width:480px) and (max-width:768px) {
    #sept-main-nav {
        background: #0971b2;
    }
    #lg {
        content: url(../imagem/logo_menu.png);
    }
}@media (min-width:768px) and (max-width:1280px) {
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 21px;
    }
    .st-navbar-mini .navbar-default .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #sept-main-nav a:link {
        font-size: 15px;
    }
    #sept-main-nav {
        background: #0971b2;
    }
    #lg {
        content: url(../imagem/logotb.png);
    }
    .navbar-brand img {
        height: 35px;
    }
    .navbar-default {
        height: 0;
    }
}@media (min-width:1280px) and (max-width:1440px) {
    #lg {
        content: url(../imagem/logo_menu.png);
    }
    #sept-main-nav a:link {
        font-size: 14px;
    }
}@media (min-width:1440px) {
    .grid {
        width: 100%;
        padding: 0;
    }
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        background: #000;
        text-align: center;
        cursor: pointer;
        width: 25%}
    #lg {
        content: url(../imagem/logo_menu.png);
    }
}
/*carousel*/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #000000;
    border-color: #f39c12;
    
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: .1;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate3d(-100%,-50%,100);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 7em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.fade-carousel .carousel-inner .item .hero {
    opacity: 500;
    -webkit-transition: 6s all ease-in-out .1s;
    -moz-transition: 6s all ease-in-out .1s; 
    -ms-transition: 6s all ease-in-out .1s; 
    -o-transition: 6s all ease-in-out .1s; 
    transition: 6s all ease-in-out .1s; 
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #080d15;
    opacity: .3;
}

.btn.btn-lg {
    padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #000000;
    background-color: #0971b2;
    border-color: #0971b2;
    outline: none;
    margin: 20px auto;
    z-index: 9999;
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(../imagem/background_vb_marca.jpg); 
}
.fade-carousel .slides .slide-2 {
    background-image: url(../imagem/background_mb_marca.jpg);
}
.fade-carousel .slides .slide-3 {
    background-image: url(../imagem/background_vbjr_marca.jpg);
}

@media screen and (min-width: 980px){
    .hero {
        width: 980px;
    }    
}
@media screen and (max-width: 640px){
    .hero h1 {
        font-size: 4em;
    }    
}